img{
    float: left;
    width: 230px;
    height: 200px;
    padding: 20px;
}
#intro, #ele, #form, #semantic, #cssintro, #selectors, #flex, #grid, #responsive{
    display: flex;
    padding: 5px;
    border-style: groove;
}
body{
    font-size: 20px;
}

dt{
    font-weight: 1000;
}
a:link {
    color: blue;
  }
  
  a:visited {
    color: green;
  }
  

.bot{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 2px;
}
html{
    scroll-behavior: smooth;
}
